.lead__title {
margin: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 6rem;
font-style: normal;
font-weight: 900;
line-height: 1.1;
flex-shrink: 1;
}


@media screen and (max-width: 590px) {

    .lead__title {
       color: #FFF;
       font-size: 2.5rem;
       font-style: normal;
       line-height: 1.1;
     }
}