.places__place {
   color: #fff;
   margin: 0;
   display: grid;
   grid-template-columns:  repeat(2, minmax(min-content, max-content));
   grid-template-rows: repeat(2, minmax(min-content, max-content));
   gap: 15px 15px;
   border: solid green;
}