.cover__title {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.05; /* 105.556% */
    margin: 0;
    z-index: 1;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .cover__title {
      font-size: 2rem;
    }
  }
  